.form-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-element > * {
    margin: 0.4rem;
    padding: 0.4rem;
}

.form-element > input {
    text-align: center;
}